<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
    <persistence-unit name="EMCServerPU" transaction-type="JTA">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <jta-data-source>EMC</jta-data-source>
        <class>emc.entity.base.BaseCity</class>
        <class>emc.entity.base.BaseCompanyTable</class>
        <class>emc.entity.base.BaseCountries</class>
        <class>emc.entity.base.BaseDBConnections</class>
        <class>emc.entity.base.BaseDocuRefTable</class>
        <class>emc.entity.base.BaseEmailSignatures</class>
        <class>emc.entity.base.BaseEmailTemplates</class>
        <class>emc.entity.base.BaseEmployeeTable</class>
        <class>emc.entity.base.BaseFilePaths</class>
        <class>emc.entity.base.BaseWebFilePaths</class>
        <class>emc.entity.base.BaseLicenceTable</class>
        <class>emc.entity.base.BaseMailSetup</class>
        <class>emc.entity.base.BaseMailReturnAddressSetup</class>
        <class>emc.entity.base.BaseParameters</class>
        <class>emc.entity.base.BasePostalCodes</class>
        <class>emc.entity.base.BaseProvence</class>
        <class>emc.entity.base.BaseSetupStorageTable</class>
        <class>emc.entity.base.BaseSuburb</class>
        <class>emc.entity.base.BaseSystemLog</class>
        <class>emc.entity.base.BaseSystemTable</class>
        <class>emc.entity.base.BaseTimeByDay</class>
        <class>emc.entity.base.BaseUnitsOfMeasure</class>
        <class>emc.entity.base.BaseUOMConversionTable</class>
        <class>emc.entity.base.BaseUOMDetailedConversionTable</class>
        <class>emc.entity.base.batchprocess.BaseBatchProcess</class>
        <class>emc.entity.base.calendar.BaseCalendar</class>
        <class>emc.entity.base.calendar.BaseCalendarExceptions</class>
        <class>emc.entity.base.calendar.BaseCalendarExceptionTypes</class>
        <class>emc.entity.base.calendar.BaseCalendarShifts</class>
        <class>emc.entity.base.dblog.BaseDBLog</class>
        <class>emc.entity.base.dblog.BaseDBLogSetup</class>
        <class>emc.entity.base.directinsert.BaseGeneratorDirectInsert</class>
        <class>emc.entity.base.employeeaccessgroup.BaseEmployeeAccessGroup</class>
        <class>emc.entity.base.employeeaccessgroupemployees.BaseEmployeeAccessGroupEmployees</class>
        <class>emc.entity.base.fileassociations.BaseFileAssociations</class>
        <class>emc.entity.base.fileassociations.BaseUserFileAssociations</class>
        <class>emc.entity.base.helpfiles.BaseHelpFileMappings</class>
        <class>emc.entity.base.journals.accessgroups.BaseJournalAccessGroups</class>
        <class>emc.entity.base.journals.accessgroups.BaseJournalAccessGroupDefinitions</class>
        <class>emc.entity.base.journals.accessgroups.BaseJournalAccessGroupEmployees</class>
        <class>emc.entity.base.journals.BaseJournalApprovalGroups</class>
        <class>emc.entity.base.journals.BaseJournalApprovalGroupEmployees</class>
        <class>emc.entity.base.journals.BaseJournalDefinitionTable</class>
        <class>emc.entity.base.language.BaseLanguage</class>
        <class>emc.entity.base.messages.BaseMessages</class>
        <class>emc.entity.base.nativequery.BaseNativeQuery</class>
        <class>emc.entity.base.nativequery.ItemCombinationReportNativeQuery</class>
        <class>emc.entity.base.numbersequences.BaseAvailableSequenceNumbers</class>
        <class>emc.entity.base.numbersequences.BaseNumberSequence</class>
        <class>emc.entity.base.permissions.BaseUserPermissionsTable</class>
        <class>emc.entity.base.permissions.BasePermissionsTable</class>
        <class>emc.entity.base.reporttools.BaseReportText</class>
        <class>emc.entity.base.reporttools.BaseReportOrderTable</class>
        <class>emc.entity.base.reporttools.BaseReportPrintOptions</class>
        <class>emc.entity.base.reporttools.BaseReportScheduling</class>
        <class>emc.entity.base.reporttools.BaseReportUserQueryTable</class>
        <class>emc.entity.base.reporttools.BaseReportWhereTable</class>
        <class>emc.entity.base.servertransactions.BaseServerTransactionsLog</class>
        <class>emc.entity.base.templatedocuments.BaseTemplateDocuments</class>
        <class>emc.entity.base.timedoperations.BaseTimedOperations</class>
        <class>emc.entity.base.Usertable</class>
        <class>emc.entity.base.webportal.BaseWebPortalUsers</class>
        <class>emc.entity.base.copytabledata.BaseCopyTableData</class>
        <class>emc.entity.base.BaseEmployeeCategoryHistory</class>
        <class>emc.entity.base.BaseSMSTemplate</class>
        <class>emc.entity.base.query.BaseQueryTable</class>
        <class>emc.entity.base.query.BaseQueryActionTable</class>
        <class>emc.entity.creditors.CreditorsApprovalGroupSetup</class>
        <class>emc.entity.creditors.CreditorsApprovalGroups</class>
        <class>emc.entity.creditors.CreditorsParameters</class>
        <class>emc.entity.creditors.CreditorsSettlementDiscountTerms</class>
        <class>emc.entity.creditors.CreditorsTermsOfPayment</class>
        <class>emc.entity.creditors.CreditorsTransactions</class>
        <class>emc.entity.creditors.CreditorsOpenTransactions</class>
        <class>emc.entity.creditors.CreditorsTransactionSettlement</class>
        <class>emc.entity.creditors.CreditorsTransactionSettlementHistory</class>
        <class>emc.entity.creditors.CreditorsCreditNoteInvoiceMaster</class>
        <class>emc.entity.creditors.CreditorsCreditNoteInvoiceLines</class>
        <class>emc.entity.crm.CRMCorrespondenceLog</class>
        <class>emc.entity.crm.CRMDocuments</class>
        <class>emc.entity.crm.CRMInterest</class>
        <class>emc.entity.crm.CRMParameters</class>
        <class>emc.entity.crm.CRMProspect</class>
        <class>emc.entity.dangerousgoods.DGCargoCheckLines</class>
        <class>emc.entity.dangerousgoods.DGCargoCheckMaster</class>
        <class>emc.entity.dangerousgoods.DGDContacts</class>
        <class>emc.entity.dangerousgoods.DGDVehicles</class>
        <class>emc.entity.debtors.allocationimport.DebtorsAllocationImport</class>
        <class>emc.entity.debtors.allocationimport.DebtorsAllocationImportFailLog</class>
        <class>emc.entity.debtors.allocationimport.DebtorsAllocationImportSetupLines</class>
        <class>emc.entity.debtors.allocationimport.DebtorsAllocationImportSetupMaster</class>
        <class>emc.entity.debtors.creditheld.DebtorsCreditHeldMaster</class>
        <class>emc.entity.debtors.creditnoteregister.DebtorsCreditNoteRegister</class>
        <class>emc.entity.debtors.DebtorsClosedReason</class>
        <class>emc.entity.debtors.DebtorsCourier</class>
        <class>emc.entity.debtors.DebtorsCreditController</class>
        <class>emc.entity.debtors.DebtorsCreditInsurer</class>
        <class>emc.entity.debtors.DebtorsCreditNoteApprovalGroups</class>
        <class>emc.entity.debtors.DebtorsCreditNoteApprovalGroupEmployees</class>
        <class>emc.entity.debtors.DebtorsCreditNoteLines</class>
        <class>emc.entity.debtors.DebtorsCreditNoteMaster</class>
        <class>emc.entity.debtors.DebtorsCreditNoteReasons</class>
        <class>emc.entity.debtors.DebtorsCreditRating</class>
        <class>emc.entity.debtors.DebtorsCreditStopReason</class>
        <class>emc.entity.debtors.DebtorsCustomerInvoiceMaster</class>
        <class>emc.entity.debtors.DebtorsCustomerInvoiceLines</class>
        <class>emc.entity.debtors.DebtorsCustomerTransactionsSummary</class>
        <class>emc.entity.debtors.DebtorsDeliveryCharge</class>
        <class>emc.entity.debtors.DebtorsMarketingGroup</class>
        <class>emc.entity.debtors.DebtorsOpenTransactions</class>
        <class>emc.entity.debtors.DebtorsParameters</class>
        <class>emc.entity.debtors.DebtorsPostDatedPayment</class>
        <class>emc.entity.debtors.DebtorsRebateCodes</class>
        <class>emc.entity.debtors.DebtorsRoyaltyGroups</class>
        <class>emc.entity.debtors.DebtorsRoyaltySetup</class>
        <class>emc.entity.debtors.DebtorsSalesGroup</class>
        <class>emc.entity.debtors.DebtorsSalesRegion</class>
        <class>emc.entity.debtors.DebtorsSalesArea</class>
        <class>emc.entity.debtors.DebtorsTransactions</class>
        <class>emc.entity.debtors.journals.DebtorsJournalLines</class>
        <class>emc.entity.debtors.journals.DebtorsJournalMaster</class>
        <class>emc.entity.debtors.royalty.DebtorsRoyaltyReportTempDS</class>
        <class>emc.entity.debtors.transactionsettlement.DebtorsTransactionSettlement</class>
        <class>emc.entity.debtors.transactionsettlement.DebtorsTransactionSettlementHistory</class>
        <class>emc.entity.debtors.transactionsettlement.DebtorsSettlementDiscHistory</class>
        <class>emc.entity.debtors.DebtorsBasketMaster</class>
        <class>emc.entity.debtors.DebtorsBasketLines</class>
        <class>emc.entity.developertools.bugtracking.DevBugsTable</class>
        <class>emc.entity.developertools.DevTimeSheet</class>
        <class>emc.entity.developertools.DevDeploymentUpdateLog</class>
        <class>emc.entity.developertools.DevDeploymentUpdateLogLines</class>
        <class>emc.entity.developertools.DevEntityLog</class>
        <class>emc.entity.developertools.DevNLPriceImportTable</class>
        <class>emc.entity.developertools.DevOldColourConversionTable</class>
        <class>emc.entity.developertools.DevOnHandImportTable</class>
        <class>emc.entity.developertools.DevParameters</class>
        <class>emc.entity.developertools.DevProgressItemConversionTable</class>
        <class>emc.entity.developertools.DevProjectLines</class>
        <class>emc.entity.developertools.DevProjectMaster</class>
        <class>emc.entity.developertools.sites.DevSiteLines</class>
        <class>emc.entity.developertools.sites.DevSiteMaster</class>
        <class>emc.entity.developertools.installations.DevInstallationMaster</class>
        <class>emc.entity.developertools.installations.DevInstallationLines</class>
        <class>emc.entity.developertools.versioningcontrol.DevVersioningControl</class>
        <class>emc.entity.gl.analysiscodes.GLAnalysisCode1</class>
        <class>emc.entity.gl.analysiscodes.GLAnalysisCode2</class>
        <class>emc.entity.gl.analysiscodes.GLAnalysisCode3</class>
        <class>emc.entity.gl.analysiscodes.GLAnalysisCode4</class>
        <class>emc.entity.gl.analysiscodes.GLAnalysisCode5</class>
        <class>emc.entity.gl.analysiscodes.GLAnalysisCode6</class>
        <class>emc.entity.gl.analysiscodes.GLAnalysisCodeHierarchy</class>
        <class>emc.entity.gl.GLChartOfAccounts</class>
        <class>emc.entity.gl.GLChartOfAccountsBalances</class>
        <class>emc.entity.gl.GLChartOfAccountsAnalysisBalances</class>
        <class>emc.entity.gl.GLBudgetLines</class>
        <class>emc.entity.gl.GLBudgetModel</class>
        <class>emc.entity.gl.GLBudgetPeriod</class>
        <class>emc.entity.gl.GLCurrency</class>
        <class>emc.entity.gl.GLFinancialPeriods</class>
        <class>emc.entity.gl.GLParameters</class>
        <class>emc.entity.gl.GLVATCode</class>
        <class>emc.entity.gl.journals.GLJournalApprovalGroups</class>
        <class>emc.entity.gl.journals.GLJournalApprovalGroupEmployees</class>
        <class>emc.entity.gl.journals.GLJournalLines</class>
        <class>emc.entity.gl.journals.GLJournalMaster</class>
        <class>emc.entity.gl.rules.GLAllocationRules</class>
        <class>emc.entity.gl.rules.GLAnalysisRules</class>
        <class>emc.entity.gl.rules.GLGroupCompanyAccount</class>
        <class>emc.entity.gl.rules.GLGroupRules</class>
        <class>emc.entity.gl.rules.GLSecurityRules</class>
        <class>emc.entity.gl.transactions.GLTransactionConsolidationTemp</class>
        <class>emc.entity.gl.transactions.GLTransactionDaySummary</class>
        <class>emc.entity.gl.transactions.GLTransactionPeriodSummary</class>
        <class>emc.entity.gl.transactions.GLTransactionsDetail</class>
        <class>emc.entity.gl.transactions.GLTransactionsSummary</class>
        <class>emc.entity.gl.transactions.GLTransactionsSuper</class>
        <class>emc.entity.hr.HRAbsScarcity</class>
        <class>emc.entity.hr.HRAbsenteeismLog</class>
        <class>emc.entity.hr.HRAbsenteeismType</class>
        <class>emc.entity.hr.HRAlternativeIdType</class>
        <class>emc.entity.hr.HRAlternativeIdType</class>
        <class>emc.entity.hr.HRActionResults</class>
        <class>emc.entity.hr.HRBranch</class>
        <class>emc.entity.hr.HRCourses</class>
        <class>emc.entity.hr.HRCitizenStatus</class>
        <class>emc.entity.hr.HRDiciplaneryActions</class>
        <class>emc.entity.hr.HRDisabilityTypes</class>
        <class>emc.entity.hr.HRDisciplinaryLevel</class>
        <class>emc.entity.hr.HREducationLevel</class>
        <class>emc.entity.hr.HREducationPriority</class>
        <class>emc.entity.hr.HREmployeeDependants</class>
        <class>emc.entity.hr.HREmployeeEducation</class>
        <class>emc.entity.hr.HREmployeeTraining</class>
        <class>emc.entity.hr.HREmploymentType</class>
        <class>emc.entity.hr.HREquityCode</class>
        <class>emc.entity.hr.HRExperienceLevel</class>
        <class>emc.entity.hr.HRGrade</class>
        <class>emc.entity.hr.HRGrievences</class>
        <class>emc.entity.hr.HRInstitution</class>
        <class>emc.entity.hr.HRInternalEmploymentHistory</class>
        <class>emc.entity.hr.HRJobCatagory</class>
        <class>emc.entity.hr.HRJobLevel</class>
        <class>emc.entity.hr.HRJobStatus</class>
        <class>emc.entity.hr.HRLearningProgram</class>
        <class>emc.entity.hr.HRLeaveLog</class>
        <class>emc.entity.hr.HRLeaveType</class>
        <class>emc.entity.hr.HRLevelOfExperience</class>
        <class>emc.entity.hr.HRMedicalAid</class>
        <class>emc.entity.hr.HRMedicalLog</class>
        <class>emc.entity.hr.HRNationality</class>
        <class>emc.entity.hr.HROFOCodes</class>
        <class>emc.entity.hr.HRPivotalInst</class>
        <class>emc.entity.hr.HRPivotalProgram</class>
        <class>emc.entity.hr.HRPivotalStudyField</class>
        <class>emc.entity.hr.HRPreviousEmploymentHistory</class>
        <class>emc.entity.hr.HRQualType</class>
        <class>emc.entity.hr.HRScarceCritSkills</class>
        <class>emc.entity.hr.HRSection</class>
        <class>emc.entity.hr.HRSocioEcoStatus</class>
        <class>emc.entity.hr.HRTerminationLog</class>
        <class>emc.entity.hr.HRTerminationType</class>
        <class>emc.entity.hr.HRTrainingLevel</class>
        <class>emc.entity.hr.HRTrainingReason</class>
        <class>emc.entity.hr.HRTrainingType</class>
        <class>emc.entity.hr.HRRace</class>
        <class>emc.entity.hr.HRRemunerantionType</class>
        <class>emc.entity.hr.HRUnions</class>
        <class>emc.entity.hr.HRQualification</class>
        <class>emc.entity.hr.HRScarcePriority</class>
        <class>emc.entity.inventory.classifications.InventoryClassificationHierarchy</class>
        <class>emc.entity.inventory.classifications.InventoryItemClassification1</class>
        <class>emc.entity.inventory.classifications.InventoryItemClassification2</class>
        <class>emc.entity.inventory.classifications.InventoryItemClassification3</class>
        <class>emc.entity.inventory.classifications.InventoryItemClassification4</class>
        <class>emc.entity.inventory.classifications.InventoryItemClassification5</class>
        <class>emc.entity.inventory.classifications.InventoryItemClassification6</class>
        <class>emc.entity.inventory.colourdisignmaster.InventoryColourDesignMaster</class>
        <class>emc.entity.inventory.consolidatedpickinglist.InventoryConsolidatedPLLines</class>
        <class>emc.entity.inventory.consolidatedpickinglist.InventoryConsolidatedPLMaster</class>
        <class>emc.entity.inventory.consolidatedpickinglist.InventoryConsolidatedPickingListCreationDS</class>
        <class>emc.entity.inventory.consolidatedpickinglist.InventoryConsolidatedPLSetup</class>
        <class>emc.entity.inventory.dimension1enquiry.InventoryDimension1Enquiry</class>
        <class>emc.entity.inventory.dimensions.additionaldimensions.InventoryAdditionalDimensions</class>
        <class>emc.entity.inventory.dimensions.InventoryDimension1</class>
        <class>emc.entity.inventory.dimensions.InventoryDimension2</class>
        <class>emc.entity.inventory.dimensions.InventoryDimension3</class>
        <class>emc.entity.inventory.dimensions.InventoryDimension1Group</class>
        <class>emc.entity.inventory.dimensions.InventoryDimension2Group</class>
        <class>emc.entity.inventory.dimensions.InventoryDimension3Group</class>
        <class>emc.entity.inventory.dimensions.InventoryDimension1GroupSetup</class>
        <class>emc.entity.inventory.dimensions.InventoryDimension2GroupSetup</class>
        <class>emc.entity.inventory.dimensions.InventoryDimension3GroupSetup</class>
        <class>emc.entity.inventory.dimensions.InventoryDimensionTable</class>
        <class>emc.entity.inventory.dimensions.InventoryItemDimension1Setup</class>
        <class>emc.entity.inventory.dimensions.InventoryItemDimension2Setup</class>
        <class>emc.entity.inventory.dimensions.InventoryItemDimension3Setup</class>
        <class>emc.entity.inventory.dimensions.InventoryItemDimensionCombinations</class>
        <class>emc.entity.inventory.dimensions.InventoryItemDimensionGroup</class>
        <class>emc.entity.inventory.dimensions.lines.InventoryDimension1Lines</class>
        <class>emc.entity.inventory.InventoryBarcodes</class>
        <class>emc.entity.inventory.InventoryBrandGroup</class>
        <class>emc.entity.inventory.InventoryCostingGroup</class>
        <class>emc.entity.inventory.InventoryItemAccessGroup</class>
        <class>emc.entity.inventory.InventoryItemAccessGroupEmployees</class>
        <class>emc.entity.inventory.InventoryItemBatch</class>
        <class>emc.entity.inventory.InventoryItemGroup</class>
        <class>emc.entity.inventory.InventoryItemMaster</class>
        <class>emc.entity.inventory.InventoryItemRange</class>
        <class>emc.entity.inventory.InventoryItemSerial</class>
        <class>emc.entity.inventory.InventoryLocation</class>
        <class>emc.entity.inventory.InventoryPallet</class>
        <class>emc.entity.inventory.InventoryParameters</class>
        <class>emc.entity.inventory.InventoryReference</class>
        <class>emc.entity.inventory.InventoryReferenceType</class>
        <class>emc.entity.inventory.InventoryStocktakeUnreserved</class>
        <class>emc.entity.inventory.InventoryWarehouse</class>
        <class>emc.entity.inventory.journals.InventoryJournalLines</class>
        <class>emc.entity.inventory.journals.InventoryJournalMaster</class>
        <class>emc.entity.inventory.pegging.InventoryPeggingTable</class>
        <class>emc.entity.inventory.transactions.InventorySummary</class>
        <class>emc.entity.inventory.transactions.InventoryTransactions</class>
        <class>emc.entity.inventory.transactions.unreserve.InventoryUnreservedSummary</class>
        <class>emc.entity.inventory.serialbatch.InventoryRemoveSerialBatch</class>
        <class>emc.entity.inventory.serialbatch.InventorySerialBatch</class>
        <class>emc.entity.inventory.requirementsplanning.InventoryRequirementsPlanning</class>
        <class>emc.entity.inventory.requirementsplanning.InventoryRequirementsPlanningHistory</class>
        <class>emc.entity.inventory.movestock.InventoryMoveStockMaster</class>
        <class>emc.entity.inventory.movestock.InventoryMoveStockLines</class>
        <class>emc.entity.inventory.movestock.InventoryMoveStockSummary</class>
        <class>emc.entity.inventory.picking.InventoryPickingListMaster</class>
        <class>emc.entity.inventory.picking.InventoryPickingListLines</class>
        <class>emc.entity.inventory.picking.rereservepicklist.InventoryReReservePickList</class>
        <class>emc.entity.inventory.register.InventoryRegister</class>
        <class>emc.entity.inventory.register.InventoryRemoveRegister</class>
        <class>emc.entity.inventory.register.InventoryStocktakeRegister</class>
        <class>emc.entity.inventory.agebins.InventoryAgeBins</class>
        <class>emc.entity.inventory.stocksettlement.InventoryStockSettlementHistory</class>
        <class>emc.entity.inventory.stocksettlement.InventoryStockSettlement</class>
        <class>emc.entity.inventory.InventoryProductGroup</class>
        <class>emc.entity.inventory.warehousestockenquiry.InventoryWarehouseStockEnquiry</class>
        <class>emc.entity.inventory.warehousestockenquiry.InventoryWarehouseStockEnquiryBySize</class>
        <class>emc.entity.inventory.reservationhelper.InventoryReservationHelper</class>
        <class>emc.entity.inventory.InventoryStockTakeLogger</class>
        <class>emc.entity.inventory.InventorySafetyStock</class>
        <class>emc.entity.inventory.InventorySafetyStockGenerationRules</class>
        <class>emc.entity.pop.cancelledpurchaseorders.POPCancelledPurchaseOrderLines</class>
        <class>emc.entity.pop.cancelledpurchaseorders.POPCancelledPurchaseOrderMaster</class>
        <class>emc.entity.pop.costchange.POPCostChangeReason</class>
        <class>emc.entity.pop.grnreprint.POPGRNReprintTemp</class>
        <class>emc.entity.pop.journals.POPSupplierReceivedJournalLines</class>
        <class>emc.entity.pop.journals.POPSupplierReceivedJournalMaster</class>
        <class>emc.entity.pop.planning.POPPlannedPurchaseOrders</class>
        <class>emc.entity.pop.POPDeliveryModes</class>
        <class>emc.entity.pop.POPDeliveryTerms</class>
        <class>emc.entity.pop.POPDiscountGroup</class>
        <class>emc.entity.pop.POPExtraChargeGroup</class>
        <class>emc.entity.pop.POPGoodsReturnReason</class>
        <class>emc.entity.pop.POPParameters</class>
        <class>emc.entity.pop.POPPurchaseOrderApprovalGroups</class>
        <class>emc.entity.pop.POPPurchaseOrderApprovalGroupEmployees</class>
        <class>emc.entity.pop.POPPurchaseOrderLines</class>
        <class>emc.entity.pop.POPPurchaseOrderMaster</class>
        <class>emc.entity.pop.POPPriceGroup</class>
        <class>emc.entity.pop.POPQualityTestType</class>
        <class>emc.entity.pop.POPSupplierGroup</class>
        <class>emc.entity.pop.POPSuppliers</class>
        <class>emc.entity.pop.posting.POPPurchasePostLines</class>
        <class>emc.entity.pop.posting.POPPurchasePostMaster</class>
        <class>emc.entity.pop.posting.POPPurchasePostSetupTable</class>
        <class>emc.entity.pop.pricearrangements.POPPriceArrangements</class>
        <class>emc.entity.sop.datasource.nlcutplan.SOPNLCutPlan</class>
        <class>emc.entity.sop.reallocation.SOPReallocation</class>
        <class>emc.entity.sop.SOPCustomerClassification1</class>
        <class>emc.entity.sop.SOPCustomerClassification2</class>
        <class>emc.entity.sop.SOPCustomerClassification3</class>
        <class>emc.entity.sop.SOPCustomerClassification4</class>
        <class>emc.entity.sop.SOPCustomerClassification5</class>
        <class>emc.entity.sop.SOPCustomerClassification6</class>
        <class>emc.entity.sop.SOPCustomerGroup</class>
        <class>emc.entity.sop.SOPCustomerLabels</class>
        <class>emc.entity.sop.SOPCustomers</class>
        <class>emc.entity.sop.SOPDiscountSetup</class>
        <class>emc.entity.sop.SOPPriceArangements</class>
        <class>emc.entity.sop.SOPPriceAuditTrail</class>
        <class>emc.entity.sop.SOPSalesBySizeEnquiry</class>
        <class>emc.entity.sop.SOPSalesEnquiry</class>
        <class>emc.entity.sop.SOPSalesOrderCancelLines</class>
        <class>emc.entity.sop.SOPSalesOrderCancelMaster</class>
        <class>emc.entity.sop.SOPSalesOrderCancelReason</class>
        <class>emc.entity.sop.SOPSalesOrderChangeDateReason</class>
        <class>emc.entity.sop.SOPSalesOrderLines</class>
        <class>emc.entity.sop.SOPSalesOrderMassPostMainTable</class>
        <class>emc.entity.sop.SOPSalesOrderMassPostOrderTable</class>
        <class>emc.entity.sop.SOPSalesOrderMassPostWhereTable</class>
        <class>emc.entity.sop.SOPSalesOrderMaster</class>
        <class>emc.entity.sop.SOPSalesOrderPostLines</class>
        <class>emc.entity.sop.SOPSalesOrderPostMaster</class>
        <class>emc.entity.sop.SOPSalesOrderPostSetup</class>
        <class>emc.entity.sop.SOPSalesOrderPostRegister</class>
        <class>emc.entity.sop.SOPSalesOrderStockEnquiryMaster</class>
        <class>emc.entity.sop.SOPSalesOrderStockEnquiryLines</class>
        <class>emc.entity.sop.SOPSalesRepCommission</class>
        <class>emc.entity.sop.SOPSalesRepGroups</class>
        <class>emc.entity.sop.SOPSalesRepGroupsSetup</class>
        <class>emc.entity.sop.SOPSalesRepCommissionWizzard</class>
        <class>emc.entity.sop.SOPStatusEnquirySummary</class>
        <class>emc.entity.sop.SOPParameters</class>
        <class>emc.entity.sop.SOPPriceArangements</class>
        <class>emc.entity.sop.SOPPriceChangeReason</class>
        <class>emc.entity.sop.SOPExplodedSalesEnquiry</class>
        <class>emc.entity.trec.TRECCargoCheckLines</class>
        <class>emc.entity.trec.TRECCargoCheckMaster</class>
        <class>emc.entity.trec.TRECChemicals</class>
        <class>emc.entity.trec.TRECCustomerChemicals</class>
        <class>emc.entity.trec.TRECClasses</class>
        <class>emc.entity.trec.TRECColours</class>
        <class>emc.entity.trec.TRECForms</class>
        <class>emc.entity.trec.TRECLoadCompatibility</class>
        <class>emc.entity.trec.TRECOdours</class>
        <class>emc.entity.trec.TRECParameters</class>
        <class>emc.entity.trec.TRECPhraseCombinations</class>
        <class>emc.entity.trec.TRECPhrases</class>
        <class>emc.entity.trec.TRECPhraseTypes</class>
        <class>emc.entity.trec.TRECTrecCardsLines</class>
        <class>emc.entity.trec.TRECTrecCardsMaster</class>
        <class>emc.entity.trec.TRECTrecTypes</class>
        <class>emc.entity.trec.TRECErgMaster</class>
        <class>emc.entity.trec.TRECPreferredShipName</class>
        <class>emc.entity.workflow.WFActivityAlerts</class>
        <class>emc.entity.workflow.WorkFlowActivity</class>
        <class>emc.entity.workflow.WorkFlowActivityCate</class>
        <class>emc.entity.workflow.WorkFlowActivityGroupEmp</class>
        <class>emc.entity.workflow.WorkFlowActivityGroups</class>
        <class>emc.entity.workflow.WorkFlowActivityPriority</class>
        <class>emc.entity.workflow.WorkFlowActivityStatus</class>
        <class>emc.entity.workflow.WorkFlowActivityTypes</class>
        <class>emc.entity.workflow.WorkFlowDepartment</class>
        <class>emc.entity.workflow.WorkFlowDocuPath</class>
        <class>emc.entity.workflow.WorkFlowEmployeeSkills</class>
        <class>emc.entity.workflow.WorkFlowEmployeeType</class>
        <class>emc.entity.workflow.WorkFlowJobLines</class>
        <class>emc.entity.workflow.WorkFlowJobMaster</class>
        <class>emc.entity.workflow.WorkFlowJobTitles</class>
        <class>emc.entity.workflow.WorkFlowLines</class>
        <class>emc.entity.workflow.WorkFlowMaster</class>
        <class>emc.entity.workflow.WorkFlowRating</class>
        <class>emc.entity.workflow.WorkFlowSkill</class>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <property name="hibernate.jdbc.batch_size" value="20"/>
        </properties>
    </persistence-unit>
</persistence>